@inherits LayoutComponentBase

<PageTitle>Blazor Client</PageTitle>

<div style="min-width: 350px;">
    <Navbar />
    <main class="container" style="padding-top: 3rem;">
        @Body
    </main>
</div>
