<nav class="navbar navbar-expand-md d-flex fixed-top app-chrome shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <img src="img/Blazor.png" width="28" height="28" alt="Blazor" />
            <span class="fw-semibold">Blazor Server</span>
        </a>

        <div class="d-flex align-items-center order-md-last">
            <ThemePicker Class="me-2" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="food">Menu</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="orders">Orders</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="order/create">Create Order</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
