@page "/counter"

<PageTitle>Counter - BlazorSSR</PageTitle>

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<form class="d-inline" data-enhance method="post" @formname="counterForm" @onsubmit="IncrementCount">
    <AntiforgeryToken />
    <input type="number" @bind-value="@CurrentCount" name="CurrentCount" hidden />
    <button class="btn btn-primary" type="submit">Click me</button>
</form>

<form class="d-inline" data-enhance method="post" @formname="resetForm" @onsubmit="ResetCount">
    <AntiforgeryToken />
    <input type="number" @bind-value="@CurrentCount" name="CurrentCount" hidden />
    <button class="btn btn-secondary" type="submit">Reset</button>
</form>

@code {
    [SupplyParameterFromForm]
    public int CurrentCount { get; set; }

    private void IncrementCount()
    {
        CurrentCount += 1;
    }

    private void ResetCount()
    {
        CurrentCount = 0;
    }
}
