@page "/FormLifecycle"

<PageTitle>Form Lifecycle - BlazorSSR</PageTitle>

<div class="row">
    <div class="col-12 col-lg-6 mx-auto">
        <h1>Form Lifecycle Testing</h1>
        
        <EditForm class="mb-2" Enhance Model="Person" FormName="personForm" OnValidSubmit="SubmitPerson">
            <DataAnnotationsValidator />
            
            <div class="input-group mb-3">
                <span class="input-group-text" for="firstName">First Name</span>
                <InputText id="firstName" class="form-control" @bind-Value="Person.FirstName" />
            </div>
            <ValidationMessage For="@(() => Person.FirstName)" class="mb-3 text-danger" style="margin-top: -16px;" />

            <div class="input-group mb-3">
                <span class="input-group-text" for="lastName">Last Name</span>
                <InputText id="lastName" class="form-control" @bind-Value="Person.LastName" />
            </div>
            <ValidationMessage For="@(() => Person.LastName)" class="mb-3 text-danger" style="margin-top: -16px;" />

            <button class="btn btn-primary" type="submit">Submit</button>
        </EditForm>
        
        @if (PersonModel.IsModelValid(Person, out _))
        {
            <p>Submitted: @Person.FirstName @Person.LastName</p>
        }
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "personForm")]
    public PersonModel Person { get; set; } = new();

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized()");
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet()");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender()");
    }

    private void SubmitPerson()
    {
        Console.WriteLine("SubmitPerson()");

        if (PersonModel.IsModelValid(Person, out _))
        {
            Console.WriteLine($"Submitted: {Person.FirstName} {Person.LastName}");
        }
    }
}
