@page "/food"
@attribute [StreamRendering]
@inject IFoodData foodData
@inject IOrderData orderData

<PageTitle>Food List - BlazorSSR</PageTitle>

<h1>Food List</h1>

@if (foodList is null)
{
    <h4>Record loading...</h4>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in foodList)
            {
                <tr>
                    <td>@food.Title</td>
                    <td>@food.Description</td>
                    <td>@string.Format("{0:C}", food.Price)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<FoodModel>? foodList;

    protected override async Task OnInitializedAsync()
    {
        foodList = await foodData.GetFoodAsync();
    }
}