@page "/food"
@attribute [StreamRendering]
@inject IFoodRepository foodData
@inject IOrderRepository orderData

<PageTitle>Food List - Blazor Server</PageTitle>

<h3>List</h3>

@if (_foodList is null)
{
    <h4>Record loading...</h4>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in _foodList)
            {
                <tr>
                    <td>@food.Title</td>
                    <td>@food.Description</td>
                    <td>@string.Format("{0:C}", food.Price)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<FoodModel>? _foodList;

    protected override async Task OnInitializedAsync()
    {
        _foodList = await foodData.GetFoodAsync();
    }
}
